{% extends "list_objects.html" %}
{% load static %}

{% block title %}Список клиентов{% endblock title %}
{% block h1 %}Список клиентов{% endblock h1 %}

{% block url_search %}{% url "list-clients" %}{% endblock url_search %}
{% block url_add %}{% url "add-client" %}{% endblock url_add %}

{% block list %}
    {% for client in page_objects %}
        <ul class = 'list'>
            <li class = 'item'>
                <div class='item-box-left'>
                    <a href='{% url "client-detail" client.id %}'>
                        <h3>{{client.first_name}} {{client.last_name}}</h3>
                    </a>
                    <div class='item-birthday'>{{client.birthday}}</div>
                    <div class='item-id'>id: {{client.id}}</div>
                </div>
                <div class='item-box-right'>
                    <a href='{% url "edit-client" client.id %}'>
                        <img src='{% static "icon/edit.svg" %}'>
                    </a>
                    <a href='{% url "delete-client" client.id %}'>
                        <img src='{% static "icon/delete.svg" %}'>
                    </a>
                </div>
            </li>
        </ul>
    {% endfor %}
{% endblock list %}
