{% extends 'main.html' %}

{% block title %}{{client.first_name}} {{client.last_name}}{% endblock title %}
{% block h1 %}{{client.first_name}} {{client.last_name}}{% endblock h1 %}
{% block content %}
    <p>
        {{client.birthday}}
    </p>
    <p>
        {{client.phone}}
    </p>
    <p>
        {{client.email}}
    </p>
{% endblock content %}
{% block content-bottom %}
    <a href='/list-clients/add-client/'>Редактировать</a>
    <a href='/list-clients/add-client/'>Удалить</a>
{% endblock content-bottom %}