{% extends 'main.html' %}
{% load static %}
{% block title %}Список клиентов{% endblock title %}
{% block h1 %}Список клиентов{% endblock h1 %}
{% block content_top %}
    <form action="{% url "list-clients" %}" method="get">
        <input type="text" name="search" placeholder="Поиск" value="{% if search %}{{search}}{% endif %}">
        <input type="submit" value="Поиск">
    </form>
    <a href='{% url "add-client" %}'>Добавить клиента</a>
{% endblock content_top %}
{% block content %}
    {% for client in page_objects %}
        <ul class = 'list'>
            <li class = 'item'>
                <div class='item-box-left'>
                    <a href='{% url "client-detail" client.id %}'>
                        <h3>{{client.first_name}} {{client.last_name}}</h3>
                    </a>
                    <div class='item-birthday'>{{client.birthday}}</div>
                    <div class='item-id'>id: {{client.id}}</div>
                </div>
                <div class='item-box-right'>
                    <a href='{% url "edit-client" client.id %}'>
                        <img src='{% static "icon/edit.svg" %}'>
                    </a>
                    <a href='{% url "delete-client" client.id %}'>
                        <img src='{% static "icon/delete.svg" %}'>
                    </a>
                </div>
            </li>
        </ul>
    {% endfor %}
{% endblock content %}
{% block content_bottom %}
{% for p in page_objects.paginator.page_range %}
        <ul>
            <li>
                <a href="?page={{ p }}">{{ p }}</a>
            </li>
        </ul>
{% endfor %}
{% endblock content_bottom %}
