<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='{% static "css/style.css" %}'>
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <div class='bg-main'>
        <header class='cont header'>
            <div class = 'logo'>
                <a href='/'>
                    CRM
                </a>
            </div>
        </header>
    </div>
    <div class='bg-main'>

        <div class='cont'>
            <h1>{% block h1 %}{% endblock h1 %}</h1>
            <div class='content-top'>
                {% block content_top %}{% endblock content_top %}
            </div>
            <div class='content'>
                {% block content %}{% endblock content %}
            </div>
            <div class='content-bottom'>
                {% block content_bottom %}{% endblock content_bottom %}
            </div>
        </div>
    </div>
    <div class='bg-main'>
        <footer>
            <i>"crm"</i>
        </footer>
    </div>
</body>
</html>